@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body { color: #FFFFFF; font-family: 'Montserrat', sans-serif; }
a { color: #41af80;}
a:hover { color: #84E2BA; text-decoration: none;}
p, table  { margin: 0 0 15px;}


.white_box {
  background-color: #FFFFFF; margin-left: 0px; height: 200px; width: auto; padding: 100px;}
.white_box h2 { color: #4d4d4d; font-size: 200%; font-weight: bold; padding: 30px;}

.top-banner { background-color: #4d4d4d; height: 125px; width:1450px; margin-left: -20px; position: absolute;}
.top-banner h1 { font-size: 48px;  margin: 0px 10px 10px 20px; padding-bottom: 30px; padding-top: 30px; padding-left: 10px; position: absolute;}


.top-banner input:focus, .top-banner input:active { outline: none !important; border-color: none; }
.top-banner button, .top-banner button:focus { background: #228b22; color: #fff; font-weight: normal; font-size: 14px; height: 50px; width: 100%; border: none; outline: none !important;}
.top-banner button:hover { background: #; color: #fff; }
.top-banner button:active:focus { outline: none !important; background: #; color: #fff; }
.top-banner button a { color: #fff; }
.top-banner button a:hover { text-decoration: none; }
.top-banner .form-control:focus { box-shadow: none; border-color: #5a595c; }
.left-navbar ul { list-style-type: none; -webkit-padding-start: 0px; line-height: 1.8;}
.left-navbar p { margin: 30px 0px; }
.main-content { line-height: 1.8;}
 .extra { color: white; font-size: 12px; }